*{
    margin: 0;

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.nalandaImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#top-nav{
    width:100%;
    background-color:#353a40;
    padding:20px 0px 20px 0px;;
    font-size:150%;
    position:fixed;
    top:0;
    z-index:20;
    margin-bottom:2%;
 

}
.details{
    cursor:pointer;
}
.lb1{
    margin-top: 10px;
    padding: 0 6px;
}


#lb1Nav{
    font-size: 20px;
    margin-left: -10px;
}

#lb1Home{
    margin-left: 3px;
}
i{
    margin-right: 5px;
}
#sitePages{
    cursor: pointer;
    }
    #sitePages{
        margin-left:5px ;
    }
    .wrapper{
        display: none;
        margin-left: 5px;
    }
#cards-dd{
    width:fit-content;
}
.dynamicList2{
    font-size: 12px;
    margin-top: 10px;
    

}
.course-components{
    display:none;
    padding-left: 1px 0px 1px 2px;
    margin-left:10px;
    font-size:14px;
}
#nav-dropdown{
    color:black;border:4px solid gray;background:white;;width:fit-content;
    float:right;
    font-weight:bold;
    z-index:60;
    position:fixed;
    top:50px;
    right:30px;
    font-size:120%;
}
#nav-dropdown a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
#nav-dropdown div:hover{
    background-color: blue;
}
#nalanda-of-nav{
    color:white;
    text-decoration:none;
}
#left-part{
    float:right;
    font-size:80%;
    font-family: Arial, Helvetica, sans-serif;
}

#left-part > div {
    float: left;
    padding:0px 10px;
    color:white;
}
#user-name{
    color:white;
    
}
#user-pic{
    width:30px;height:30px;border-radius:50%;background-size:contain;background-repeat:no-repeat;color:white;font-weight:bold;text-align: center;padding:2px;
    background-color: orangered;
}

.allBox{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}

.centerBox{
  
    width: 70%;
    margin:  10px 20px;
    padding: 10px;
    
}

/* css for the box which appears when any course is being ckicked  */

.containerForTopMenu{
    margin: 20px auto;
    width: 90%;
    height: 80px;
    display: flex;
    padding: 20px;
    align-items: center;
    border: 1px solid gainsboro;
    
}
#topMenu1 , #topMenu2 {

    margin: 0 10px;
}

#topMenu3{
    margin: 0 10px;
}


.centerBox2{
   display:none;
    width: 70%;
    margin:  10px 20px;
    padding: 10px;
    
}
.recentContainer  ,.rootContainer{
    border: 1px solid gainsboro;
}
.rootContainer{
    margin: 20px auto;
}
.recentContainer h3 ,.rootContainer h3{
    margin-left: 20px;
}
#root , #recent{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 40px auto;
    height: auto;
    padding: 10px;
    justify-content: space-around;
}
#cards-dd{
    float:right;
    margin-right:10px;
}


.cardBox{
    height: 180px;
    width: 280px;
    border: 1px solid gainsboro;
    margin: 20px 0;
}

.cardImg{
    width: 280px;
    height: 130px;
    background:linear-gradient(120deg , lightgreen , lightblue);
    display: flex;
    justify-content: flex-end;
  
}

.dropdown{
    height: 30px ;
    width: 30px;
    border-radius: 50%;
    outline:none;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(255, 255, 255,.8);
    color: rgb(0, 0, 0);
}


/* styling that button click effect thing */


.star , .delete{
    background: white;
    border: white;
    width:150px;
    margin-top:5px;
    font-weight: bold;
}
.star:hover , .delete:hover{
    background: gainsboro;
}

.dropDownOnClick{
    display: none;
    flex-direction: column;
    border: 1px solid black;
    height: 50px;
    width: 155px;
    background: rgb(255, 255, 255);
}


.semDetails , .courseDetails{
    text-align: center;
    font-size: 18px;
    color: black;
    margin: 3px 0;
    font-weight: bold;
}

.inputBox , .btnBox{
    display: flex;
    margin:30px auto ;
    width: 65%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input1 , .input2 , .btn1 , .btn2{
    width: 45%;
    display:flex;
    justify-content: center;
}
#input1Sem ,#input2Course {
    width: 100%;
    height: 25px;
}
#add ,#remove{
    width: 70%;
    height: 25px;
    outline: none;
    border: white;
    cursor: pointer;
    font-weight: bolder;
}
#add{
    background-color:rgb(207, 255, 185) ;
}
#remove{
    background-color:rgb(255, 207, 207) ;
}



/* working on leftbox */

#leftBox{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.leftElement{
    border: 1px solid gainsboro;
    padding: 5px;
    width: 200px;
    margin: 20px 0;
    display: block;
}

.dynamicList li{
    margin: 15px 0 0 -10px ;
    font-size: 15px;
    
}

/* css for right side */



.rightBox{
    width: 20%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.calendar{
    margin-bottom: 20px  ;
    padding: 10px;
    border: 1px solid gainsboro;
    width: 230px;
}

.coverMeUp{
    margin-top: 20px;
    width: 220px;
    height: 275px;
    background-color: white;
    overflow: hidden;
   
}
.upcomingEvents{
    border: 1px solid gainsboro;
    padding: 10px;
    width: 230px;
}
#ueHead{
    margin: 10px 0;
}

.timeline{
    padding: 10px;
    border: 1px solid gainsboro;
    margin-top: 20px;
    width: 230px;
}

.tlDiv{
    display: flex;
    justify-content: space-around;
}

.tlDiv1{
    margin-top: 20px;
 
}

.tlDiv1 select{
    height: 30px;
}

.tlDiv2{
    margin: 20px 0;
}

.tlDiv2 select{
    height: 30px;
}

.iconBox{
    margin-top: 20px;

    font-size: 50px;
    text-align: center;
    color: rgb(194, 194, 194);
}

#subscribe-id{
    display: none;
}

.dynamicList{
    font-size: 12px;
    margin-top: 10px;
    

}

/* styling the dynamic thing  */
.onClickOfCard{
    width: 96%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    display: none;
    color: rgb(8, 87, 151);
}
.onClickOfCard hr{
    color: rgb(180, 180, 180);
}


.onccWrapper{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}
.anBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    margin: 20px 0;
    display: none;
    height:auto;
    padding:10px;
}

.anBox1 , .anBox2{
    margin:20px 0;
    height: 30px;
    width: 80%;
}
.anBox1 input{
    width: 100%;
    height: 60px;
}
.anBox2{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.anBox2 button{
    height: 30px;
    width: 40%;
    margin:  10px auto;
    background-color: #464646;
    border: none;
    color: white;
}


#goBackToMainPage{
    height: 30px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: rgb(240, 240, 240);
    font: 20px;
    font-weight: bold;
}
.oncc{

    margin: 20px 2px;


}

.oncc h2:hover{
    text-decoration: underline;
}




.chatBox{
    
    padding: 10px;
    margin-top: 20px;
    width: 230px;
    border: 1px solid gainsboro;
}
.stared{
      padding: 10px;
    margin-top: 20px;
    width: 230px;
    border: 1px solid gainsboro;
}
.stared i {
    color: gold;
}


.icon {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i  {
    font-size: 50px;
    color: rgb(200, 200, 200);
}

.staredCourseName{
    margin-top: 10px;
}
#ourAnnouncement{
    margin-top:20px;
}
#makeAnnouncement{
    cursor: pointer;
}

@media (max-width:1120px){
    .allBox{
        width: 100%;
        margin: 10px auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .centerBox{
        width: 100%;
    }
    .recentContainer, .rootContainer {
    border: 1px solid gainsboro;
    width: 100%;
}

.inputBox , .btnBox{
    width: 100%;
}
#add , #remove{
    width: 85%;
}

#leftBox , .leftElement{
    width: 100%;
}

.rightBox , .calendar ,.timeline , .chatBox , .stared , .upcomingEvents{
    width: 100%;
}

.coverMeUp{
    margin: 10px auto;
}
    .rightBox{
        order: 3;
    }
    .centerBox{
        order: 1;
    }
    #leftBox{
        order: 2;
    }
}

@media (max-width:850px){
    .nalandaImg{
        display: block;
    }
    .bitsP{
        display: block;
    
    }
#locale{
    display: block;
}
    .nalanda{
        display: flex;
   flex-direction: row-reverse;
    }
}
