*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#top-nav{
    width:100%;
    background-color:#353a40;
    padding:20px 0px 20px 0px;;
    font-size:150%;
    position:fixed;
    top:0;
    z-index:20;
    margin-bottom:2%;
 

}
#cards-dd{
    width:fit-content;
}
#nav-dropdown{
    color:black;border:4px solid gray;background:white;;width:fit-content;
    float:right;
    font-weight:bold;
    z-index:60;
    position:fixed;
    top:50px;
    right:30px;
    font-size:120%;
}
#nav-dropdown a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
#nav-dropdown div:hover{
    background-color: blue;
}
#nalanda-of-nav{
    color:white;
    text-decoration:none;
}
#left-part{
    float:right;
    font-size:80%;
    font-family: Arial, Helvetica, sans-serif;
}

#left-part > div {
    float: left;
    padding:0px 10px;
    color:white;
}
#user-name{
    color:white;
    
}
#user-pic{
    width:30px;height:30px;border-radius:50%;background-size:contain;background-repeat:no-repeat;color:white;font-weight:bold;text-align: center;padding:2px;
    background-color: orangered;
}
.nalandaImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* css for the box which appears when any course is being ckicked  */

.containerForTopMenu{
    margin: 20px auto;
    width: 90%;
    height: 80px;
    display: flex;
    padding: 20px;
    align-items: center;
    border: 1px solid gainsboro;
    display: none;
}
#topMenu1 , #topMenu2 {

    margin: 0 10px;
}

#topMenu3{
    margin: -17px 10px 0 10px;
}


/* css for allbox */



.allBox{
    margin-top: 25px;
    display: flex;
    justify-content:flex-start;
}

/* css for left box */


.leftBox{
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}


/* css for left box ends here */


/* css for lb1 start */

.leftbox1{
    width: 200px;
    border: 1px solid gainsboro;
    padding: 20px;
    
}

.lb1{
    margin-top: 10px;
    padding: 0 6px;
}


#lb1Nav{
    font-size: 20px;
    margin-left: -10px;
}

#lb1Home{
    margin-left: 3px;
}
i{
    margin-right: 5px;
}
#sitePages{
cursor: pointer;
}
#sitePages{
    margin-left:5px ;
}
.wrapper{
    display: none;
    margin-left: 5px;
}

.myCourses{

    margin-top: 10px;
    margin-left: 11px;
    cursor: pointer;
}


/* css for lb 1 over */

/* css for lb2 starts */
.leftBox2{
    width: 200px;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid gainsboro;
}

.lb2{
    margin: 10px 0;
}

#lb2ImpLinks{
    font-size: 20px;
    margin-left: -20px;
}

/* css for lb2 over */


/* css for lb3 starts */



.leftBox3{
    margin-top: 20px;
    width: 200px;
    padding: 30px;
    border: 1px solid gainsboro;
}


#lb3Events{
    font-size: 20px;

    margin-left: -20px;
}


.lb3{
    margin: 10px 0;
}

/* css for lb3 ends */



/* css for the course Card */
.recentConatainer{
    margin: 20px 0 0 10px;
    width: 95%;
    border: 1px solid gainsboro;
}

.rcHead{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    justify-content: space-between;
}

.rcHead1{
    font-size: 20px;
}

.rcHead2 button{
    height: 30px;
    width: 30px;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    background: whitesmoke;
    color: navy;
    outline: none;
    border: gray;
}


.courseContainer{
    width: 100%;
    margin: 10px 0;
    display: flex;
   
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.courseCard ,.courseCard2 , .courseCard3{
   border: 1px solid gainsboro;
    height: 170px;
   
}


.logoImg1{
    background:linear-gradient(120deg,rgb(253, 255, 231),rgb(255, 221, 142)) ;
    height: 130px;
    width: 280px;
}

.logoImg2{
    background:linear-gradient(120deg,rgb(200, 255, 155),rgb(255, 255, 255)) ;
    height: 130px;
    width: 280px;
}

.semDetails , .courseName{
    text-align: center;
}
.course-components{
    display:none;
    padding-left: 1px 0px 1px 2px;
    margin-left:10px;
    font-size:14px;
}

.outerWrapper{

    width:95%;
    margin: 10px  10px;
    border: 1px solid gainsboro;
   
}


.courseHeader{

    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;

}


.flexboxForCourses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 justify-content: space-around;
   
 
   
}

.logoImg3{
    background: linear-gradient(120deg,rgb(196, 255, 206),rgb(255, 249, 231));
     height: 130px;
    width: 270px;
}
.logoImg4{
   background:  linear-gradient(120deg,rgb(164, 255, 179),rgb(255, 212, 142));
    height: 130px;
    width: 270px;
}
.logoImg5{
    background: linear-gradient(120deg,rgb(255, 171, 171),rgb(255, 202, 142));
     height: 130px;
    width: 270px;
}
.logoImg6{
    background: linear-gradient(120deg,rgb(92, 255, 236),rgb(195, 255, 177));
     height: 130px;
    width: 270px;
}
.logoImg7{
    background:linear-gradient(120deg,rgb(214, 214, 214),rgb(231, 231, 231));
     height: 130px;
    width: 270px;
}
.logoImg8{
    background: linear-gradient(120deg,rgb(200, 123, 231),rgb(65, 155, 233));
     height: 130px;
    width: 270px;
} 
.logoImg9{
    background: linear-gradient(120deg,rgb(250, 237, 255),rgb(69 ,178, 255));
     height: 130px;
    width: 270px;
} 
.leadtocoursepage{
    text-decoration: none;
}




/* css for centerBox */


.centerContainer{
    width: 70%;
    
    display: flex;
    flex-direction: column;
}
/* the dropdown feature */


.dropdownForCards{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.dropdownForCards select{
    width: 80px;
    height: 30px;
}





/* css for the center box also over now working on add courses feature */
.layer{
    height: 180px;
    width: 270px;
    border: 1px solid gainsboro;
    text-align: center;
    
     margin-top: 20px;
}


.inputSem , .inputName{
    margin-top: 5px;
}


/* css for the footer */

.footer{
    width: 100%;
}
.footer1{
   
    width: 90%;
    margin: 20px auto;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.footer2{
    width: 90%;
    margin: 20px auto;
    
    display: flex;
    justify-content: space-between;
  
}
#input1 {
    width: 250px;
    height: 30px;
}

#input2{
    width: 200px;
    height: 30px;
}

#btn11 , #btn22{
    height: 30px ;
    width: 150px;
}

#btn11{
    background-color: rgb(255, 239, 197);
    font-weight: bolder;
    border: whitesmoke;
    height: 30px ;
    width: 150px;
}

#btn22{
    background-color: rgb(242, 255, 205);
    font-weight: bolder;
    border: whitesmoke;
}


/* styling the target element */

#cloneToBe{

    margin-top: 20px;
    border: 1px solid gainsboro;
}
#target1{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    text-align: center;
}

.layer7{
    display: none;
}






/* for the announcement section */





.announcementBox{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

.announceWrapper{
   
    width: 100%;
    display: flex;
    justify-content: center;
}

#chatList{
    margin: 20px 0 0 20px;
}



#announceInput{
    margin:10px 0;
    height: 90px;
    width: 90%;
    padding: 10px;
}

::placeholder {
    padding: 0 0 0 10px;
  }



  #makeAnnouncement{
      width: 100%;
   
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
  }
  #makeAnnouncement button{
      width: 50%;
      height: 40px;
      background-color: rgb(211, 255, 211);
      font-weight: bold;
      outline:none;
      border: white;

      cursor: pointer;
  }

  
/* right side */


.rightBox{
    width: 20%;
    margin-top: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}


.cale{
    margin:20px auto;
    padding: 0px;
    border: 1px solid gainsboro;
    width: 290px;
    
}

.coverMeUp{
    /* margin-top: 20px;
    width: 220px;
    height: 275px;
    background-color: white;
    overflow: hidden; */
    height: 300px;
    width: 300px;

   
}
.upcomingEvents{
    border: 1px solid gainsboro;
    padding: 10px;
    width: 290px;
}
#ueHead{
    margin: 10px 0;
}

.timeline{
    padding: 10px;
    border: 1px solid gainsboro;
    margin-top: 20px;
    width: 290px;
}

.tlDiv{
    display: flex;
    justify-content: space-around;
}

.tlDiv1{
    margin-top: 20px;
 
}

.tlDiv1 select{
    height: 30px;
}

.tlDiv2{
    margin: 20px 0;
}

.tlDiv2 select{
    height: 30px;
}

.iconBox{
    margin-top: 20px;

    font-size: 50px;
    text-align: center;
    color: rgb(194, 194, 194);
}

#subscribe-id{
    display: none;
}

.dynamicList{
    font-size: 12px;
    margin-top: 10px;
    

}



.chatBox{
    
    padding: 10px;
    margin-top: 20px;
    width: 290px;
    border: 1px solid gainsboro;
}

.icon{

    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    font-size: 50px;
    color: rgb(200, 200, 200);
}



@media (max-width:1150px){
        

    .allBox{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .leftBox{
        order: 2;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;

    }

    .leftbox1 , .leftBox2 , .leftBox3{
        width: 100%;
    }

    .centerContainer{
        order: 1;
        display: flex;
        flex-direction: column;
        width: 74.5%;
        margin: 20px auto;
        justify-content: center;
        align-items: center;

    }



    .rightBox{
        order: 3;
        display: flex;
        width: 70%;
        justify-content: center;
        flex-direction: column;
        margin: 10px auto;
    }


    .calendar , .upcomingEvents,.timeline,.chatBox {
        width: 100%;
    }

    .calendar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
}




/* styling the dynamic thing  */
.onClickOfCard{
    width: 96%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    display: none;
    color: rgb(8, 87, 151);
}
.onClickOfCard hr{
    color: rgb(180, 180, 180);
}


.onccWrapper{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

#goBackToMainPage{
    height: 30px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: rgb(240, 240, 240);
    font: 20px;
    font-weight: bold;
}
.oncc{

    margin: 20px 2px;


}

.oncc h2:hover{
    text-decoration: underline;
}





@media  (max-width:720px){


    .footer2{
        width: 90%;
        margin: 20px auto;
        
        display: flex;
        justify-content:center;
        align-items: center;
      
    }

    #input1 {
        width: 250px;
        height: 30px;
    }
    
    #input2{
        width: 250px;
        height: 30px;
    }

    .rcHead{
        justify-content: center;
        align-items: center;
    }
    .outerWrapper{
        width: 100%;
    }

    .recentConatainer{
        width: 100%;
    }
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .courseCard{
        margin:20px 0;
    }


    .logoImg1 , .logoImg2, .logoImg3,.logoImg4,.logoImg5,.logoImg6,.logoImg7,.logoImg8,.logoImg9{
        width: 308px;
        margin:0px auto;
    }

    .leftBox , .rightBox{

        width:95%;


    }

    .centerContainer{
        width: 95%;
    }

    .recentConatainer{
        margin: 10px auto;
    }

    .layer , .courseCard{
        width: 310px;
    }
    
}


@media (max-width:850px){
    .nalandaImg{
        display: block;
    }
    .bitsP{
        display: block;
    
    }
#locale{
    display: block;
}
    .nalanda{
        display: flex;
   flex-direction: row-reverse;
    }

    .footer1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #nalanda-of-nav{
        display:none;
    }
    img{
        width:80%;
    }
}
