body{
    margin:0;
    
}
a{
    text-decoration: none;
    color:#5c98cc;
}
a:hover{
    text-decoration: underline;
}
*{
    box-sizing: border-box;
}

.top-nav{
    width:100%;
    background-color:#353a40;
    padding:20px 0px 20px 0px;;
    font-size:150%;
    position:fixed;
    top:0;
    z-index:20;
    margin-bottom:2%;


}
.main-header{
    margin-top:7%;
}
#nalanda{
    color:white;
    float:left;
    text-decoration:none;
}
#log-in{
    color:white;
    text-decoration:none;
    float:right;
    opacity:0.5;
    font-size:70%;
}
#log-in-link{
    color:white;
    text-decoration: none;
    font-size:70%;
}
#log-in-link:hover{
    text-decoration: underline;
}
.home{
    width:98%;
    margin:4% 1% 0% 1%;
    border:1px solid lightgray;
    color:#5c98cc;
   
    text-align:left;
    padding:25px 0px;
    float:left;
    
}
.home a{
    text-decoration:none;
    text-align: left;
    opacity:0.65;
}
.home a:hover{
    text-decoration:underline;
    opacity:1;
}
.main-body-left{
    width:20%;
    
    height:auto;
    float:left;
 
    margin-top:2%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;

}

.main-body-left>div{
    background:#f7f9fb;
    height:auto;
    margin-bottom:4%;
    padding:20px 10px;
    border-radius:5px;
    border:1 px solid lightgray;
}
.main-body{
    width:98%;
    margin:1%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:auto;
}
.main-body-center{
    margin-top:2%;
    height:100%;
   
    width:59%;
    margin-left:1%;
    padding:25px 10px;
    border:1px solid lightgrey;
}
.center-content{
    width:98%;
    margin:auto;
    border:1px solid lightgrey;
    padding:20px 20px;
}

@media (max-width: 480px){
    .main-body{
        flex-direction:column;
        align-items: center;
    }
    .main-header{
        margin-top:40px;
        
    }
    #nalanda{
        display:none;
    }
    .main-header img{
        width:60%;
        height:10%;
    }
    .main-body div{
       
        width:100%;
    }
    .main-body-center video{
        width:60%;
        margin:auto;
    }
    .top-nav{
        font-size:50%;
        padding:12px 0px;
        text-align:left;
        position:fixed;
        top:0px;
        z-index:20;
        width: 83%;
    }
  
}
